@import url('./Vars.css');

.team{
    width: 100%;
    display: flex;
    justify-content: center;

    /* border: 1px solid red; */
}

.team-container{
    width: 70%;
    /* padding: 2rem 0; */

    /* border: 1px solid red; */

}

.team-row{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

}

@media only screen and (min-width:1201px){
    .team-container{
        width: 90%;
    }    

}
  
@media only screen and (min-width:1025px)and (max-width:1200.99px){
    .team-container{
        width: 95%;
    }
}

@media only screen and (min-width:769px)and (max-width: 1024.99px){
    .team-container{
        width: 95%;
    }
}

@media only screen and (min-width:481px)and (max-width: 768.99px){
    .team-container{
        width: 95%;

    }

    .team-bottom{
        /* width: 100%; */
    }

    .team-row{
        flex-direction: column;
        justify-content: unset;
        align-items: center;

        margin: 0;
    }

}

@media only screen and (min-width:320px)and (max-width: 480.99px){
    .team-container{
        width: 95%;

    }

    .team-bottom{
        /* width: 100%; */
    }

    .team-row{
        flex-direction: column;
        justify-content: unset;
        align-items: center;

        margin: 0;
    }
}